<div class="h-auto min-h-screen overflow-visible">
  <div class="relative max-w-5xl px-3 mx-auto mt-20 sm:px-0">
    {% comment %} search form {% endcomment %}
    <div class="p-5 text-white rounded-tl-lg rounded-tr-lg bg-primary/80">
      <div class="relative flex items-center mb-3 text-center">
        <a class="absolute flex text-sm font-semibold leading-6 dark:text-slate-200 dark:hover:text-white" href="/">
          <svg viewBox="0 -9 3 24" class="w-auto h-6 mr-3 overflow-visible dark:group-hover:text-slate-300">
            <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <span>{{ "return" | t }}</span>
        </a>
        <h1 class="flex justify-center flex-grow w-0 text-lg">{{ "search.name" | t }}</h1>
      </div>
      {% form_tag 'search' %}
        <div class="relative flex items-center">
          <input type="text" name="{{form.keywords_field_name}}" value="{{ search.keywords | escape_once }}" class="block w-full outline-none border-0 bg-white rounded pl-2 pr-8 text-[#424242] py-3 placeholder:text-gray-400 text-sm" placeholder="{{ "search.placeholder" | t }}">
        </div>
      {% endform_tag %}
      {% if search.tag or search.keywords %}
        <p class="mt-3 text-xs">
          {{ "search.result.t1" | t }}
          {% if search.tag %}
            <i class="px-2 py-1 rounded" style="background-color: {{ search.tag.color }}">{{ search.tag.name }}</i>
          {% endif %}
          {% if search.keywords %}
            <i>{{ search.keywords }}</i>
          {% endif %}
          {{ "search.result.t2" | t }}
        </p>
      {% endif %}
    </div>

    {% if search.keywords or search.tag %}
      {% comment %} 查询结果 {% endcomment %}
      <ul class="p-2 overflow-hidden list-none bg-white rounded-bl-lg rounded-br-lg">
        {% paginate_tag search.pages, as: 'items', per: 3 %}
          {% for page in items %}
            <li class="flex items-center px-2 py-2 space-x-2 rounded group hover:bg-primary/10">
              <div class="flex-grow w-0">
                {% render 'breadcrumb', breadcrumb: page.breadcrumb %}

                <h3 class="truncate group-hover:text-primary">
                  <a href="{{ page.url }}" class="inline-block">
                    {{ page.link_text | highlight: search.keywords }}
                  </a>
                </h3>
                <p class="text-gray-400 line-clamp-3">
                  {{ page.settings.content | strip_html | highlight: search.keywords }}
                </p>
              </div>

              <span class="flex-shrink-0 inline-block w-0 h-0 border-[5px] border-l-primary border-t-transparent border-r-transparent border-b-transparent"></span>
            </li>
          {% else %}
            {% assign message = "empty.name" | t %}
            {% render 'empty', message: message %}
          {% endfor %}
          {% render 'paginate', paginate: paginate %}
        {% endpaginate_tag %}
      </ul>
    {% else %}
      <div class="w-full mx-auto my-8">{{ "search.please_enter_keywords" | t }}</div>
    {% endif %}
  </div>
</div>
